@font-face{
  src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
  font-family: "Merriweather-Regular";

}
@font-face{
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-family: "Montserrat-Bold";
}
@font-face{
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-family: "Montserrat-SemiBold";
}
@font-face{
  src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
  font-family: "Sacramento-Regular";
}
@font-face{
  src: url(../fonts/Merriweather/Merriweather-LightItalic.ttf);
  font-family: "Merriweather-LightItalic";
}
@font-face{
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
  font-family: "Montserrat-Thin";
}

body {
    background: url(../img/img\ 1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container{
  font-family: "Montserrat-Bold";
  color: black;
}

.lead{
  font-family: "Montserrat-Thin";
  color: black;
}

